profile = ocamlformat
break-cases = fit
field-space = loose
margin = 80
parse-docstrings = true
type-decl = sparse
wrap-comments = true
doc-comments = before
break-fun-decl = fit-or-vertical
break-fun-sig = fit-or-vertical
break-infix = fit-or-vertical
